html {
    font-size: 100px;
    height: 100%
}

body {
    font-size: 0.16rem;
    font-family: A03-;
    font-weight: 500;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

span {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #939393;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #939393;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #939393;
}

input,
select,
textarea,
button {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border: 0;
    background: transparent;
    color: #707070;
}

textarea {
    resize: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -moz-box-shadow: 0 0 0 1000px white inset;
    -ms-box-shadow: 0 0 0 1000px white inset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: NotoSansHans-Bold;
    font-weight: bold;
    color: #161616;
}

/*字体大小*/
.fz-14 {
    font-size: 0.14rem;
}

.fz-16 {
    font-size: 0.16rem;
}

.fz-18 {
    font-size: 0.18rem;
}

.fz-26 {
    font-size: 0.26rem;
}

.fz-56 {
    font-size: 0.56rem;
}


/* 字体颜色 */
.c-7b {
    color: #7C7B7B
}

.c-6a {
    color: #FE366A;
}

.c-60 {
    color: #666060;
}

.c-ff {
    color: #ffff;
}

.c-99 {
    color: #999999;
}

.c-8a {
    color: #8C898A;
}

.c-66 {
    color: #666666;
}

.c-4f {
    color: #4C98FF;
}

.c-b3 {
    color: #F7E4B3;
}

.c-8a {
    color: #8C898A;
}

.c-74 {
    color: #A8A274;
}


/* 字体粗细 */
.f-w4 {
    font-weight: 400;
}

.f-w5 {
    font-weight: 500;
}

.f-wb {
    font-weight: bold;
}


/*字体样式*/
.f-fm {
    font-family: MicrosoftYaHei;
}

.f-fb {
    font-family: MicrosoftYaHei-Bold;
}


/* 背景色 */
.b-tor {
    background: linear-gradient(to right, #FFDEE7, #ffff);
}

.b-e2 {
    background: #E2E2E2;
}



/*弹性布局*/
.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.fl-align {
    align-items: center;
}

.fl-j {
    justify-content: center;
}

.fl-jsb {
    justify-content: space-between;
}

.fl-jsa {
    justify-content: space-around;
}


/*超出显示省略号 */
/* 单行 */
.clamp1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 俩行 */
.clamp2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 三行 */
.clamp3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


/*底部线条*/
.lineBottom {
    position: relative;
    z-index: 0;
}

.lineBottom::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.02rem;
    border-bottom: 0.04rem solid #0070D3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    margin-top: 0.21rem;
}

.lineBottom div,
.lineBottom span,
.lineBottom a .lineBottom li {
    position: relative;
}


/*右线条*/
.lineRight {
    position: relative;
    z-index: 0;
}

.lineRight::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-right: 0.04rem solid #EBEBEB;
    -webkit-box-sizing: border-box;
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    padding-left: 0.29rem;
}

.lineRight div,
.lineRight span,
.lineRight a {
    position: relative;
}

.on {
    display: block;
}

.hide {
    display: none !important;
}

.hides {
    display: none;
}

.ons {
    display: block;
}

.v-h {
    visibility: hidden
}


/*容器*/
#containers {
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    position: relative;
}


/* 左侧导航 */
#navction {
    width: 2.4rem;
    height: 100%;
    background: #ffffff;
}

/* 右侧Tab容器 */
#Tab-content {
    width: 16.8rem;
    height: 100%;
}



/* 遮罩 */
.cover {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.prompt {
    width: 6rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
    z-index: 300;
    margin: auto;
}

.prompt .title {
    text-align: center;
    padding: 0.2rem 0rem;
    background: #FE366A;
    border-radius: 0.1rem 0.1rem 0 0;
    margin-bottom: 0.2rem;
}

.prompt .prompt-info p {
    margin-bottom: 0.17rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prompt .prompt-info p span:first-child {
    display: inline-block;
    width: 0.8rem;
    margin-left: 0.5rem;
}

.prompt .prompt-info p span:last-child {
    display: inline-block;
    width: 4.1rem;
}

.prompt .prompt-info p:nth-child(5) {
    margin-bottom: 0.3rem;
}

.prompt .prompt-info p:last-child {
    margin-bottom: 0.3rem;
}

.prompt .prompt-info p>button {
    cursor: pointer;
    border-radius: 0.21rem;
}

.prompt .prompt-info p .canel {
    width: 1.06rem;
    height: 0.42rem;
    border: 0.01rem solid rgba(254, 54, 106, 1);
    margin-left: 1.2rem;
    margin-right: 1.48rem;
}

.prompt .prompt-info p .sure {
    width: 1.06rem;
    height: 0.42rem;
    background: rgba(254, 54, 106, 1);
}


/* 左边导航 */


/* 一级导航 */
.nav-one>li {
    margin-bottom: 0.36rem;
    cursor: pointer;
}

.nav-one>li:first-child {
    margin-top: 0.6rem;
}

.nav-one>li>span {
    display: inline-block;
    width: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
}

.choose-nav-one-span {
    color: #FE366A;
    font-weight: bold;
}

/* 二级导航 */
.nav-two {
    margin-top: 0.36rem;
}

.choose-nav-two {
    background: linear-gradient(to right, #FFDEE7, #ffffff);
}

.nav-two>li {
    height: 0.5rem;
}

.nav-two>li>span:first-child {
    display: inline-block;
    width: 0.04rem;
    height: 0.5rem;
    margin-right: 0.7rem;
}

.nline {
    background: #FE366A;
    box-shadow: 2px 0px 4px 0px rgba(217, 14, 67, 0.4);
}

.choose-nav-two-span {
    text-shadow: 0rem 0.02rem 0.01rem rgba(254, 54, 106, 0.5);
    color: #FE366A;
    font-weight: bold;
}


/* 分页器 */
.page_div {
    padding:0.8rem 0;
    display:flex;
    justify-content:center;
    color: #626262;
}

.page_div button {
    display: inline-block;
    min-width: 0.33rem;
    height: 0.33rem;
    cursor: pointer;
    font-size: 0.13rem;
    line-height: 0.28rem;
    background:#FFFFFF;
    border: 0.01rem solid #D9D9D9;
    text-align: center;
    margin:0 0.07rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:0.04rem;
}
#firstPage, #lastPage, #nextPage, #prePage {
    color: #626262;
    border: 0.01rem solid #D9D9D9;
    padding-left: 0.15rem;
    padding-right: 0.11rem;
}
.page_div .current {
    background-color: #FE366A;
    /* border-color:#D9D9D9; */
    color: #ffff;
}
.totalPages {
    margin: 0 0.10rem;
}
.totalPages span, .totalSize span {
    color: #0073A9;
    margin: 0 0.05rem;
}
/*button禁用*/
.page_div button:disabled {
    opacity: 0.5;
    cursor: no-drop
}


.Tab-one,
.Tab-two,
.Tab-three,
.Tab-four{
    width: 100%;
    height: 100%;
    overflow: auto;
}





