.icon {
    display: inline-block;
}

.m-icon {
    width: 0.14rem;
    height: 0.12rem;
    background: url(http://img.fqapps.com/9d7f9bf5355badbb76386513ca67c6e1) no-repeat center/0.14rem;
}

.d-icon {
    width: 0.15rem;
    height: 0.08rem;
    background: url(http://img.fqapps.com/de8d8a9e7c362b60db613a3083d20819) no-repeat center/0.15rem;
}


.link-icon {
    width: 0.18rem;
    height: 0.18rem;
    background: url(http://img.fqapps.com/2dba743a8213197d637a14930693fd81) no-repeat center/0.18rem;
}

.close-icon {
    width: 0.2rem;
    height: 0.2rem;
    background: url(http://img.fqapps.com/c4e8155aa2c2c223cebd717d687fc746) no-repeat center/0.2rem;
}

.add-icon-one {
    width: 0.8rem;
    height: 0.8rem;
    background: url(http://img.fqapps.com/c1aab6a757d218aba939a0de49c50f03) no-repeat center/0.8rem;
}

.add-icon-two{
    width: 0.8rem;
    height: 0.8rem;
    background: url(http://img.fqapps.com/c5adc2bdd371c031017c31f9b302b50a) no-repeat center/0.8rem;
}

.ed-icon{
    width: 0.16rem;
    height: 0.16rem;
    background: url(http://img.fqapps.com/4df8512310914900cb4ad7af23b653be) no-repeat center/0.16rem;
}

.j-icon{
    width: 0.58rem;
    height: 0.58rem;
    background: url(http://img.fqapps.com/f6b008930919781986ec62e065bf966a) no-repeat center/0.58rem;
}


.search-icon{
    width: 0.18rem;
    height: 0.16rem;
    background: url(http://img.fqapps.com/6a7324099a1cc05f24da52c02b5a9c8c) no-repeat center/0.18rem;
}

.t-icon{
    width: 1.19rem;
    height: 1.19rem;
    background: url(http://img.fqapps.com/74e15e926fc59d7fef1e04a988636336) no-repeat center/1.19rem;
}