.icon {
    display: block;
}

.m-icon {
    width: 0.06rem;
    height: 0.12rem;
    background: url(../images/more.png) no-repeat center/0.06rem;
}

.d-icon {
    width: 0.12rem;
    height: 0.05rem;
    background: url(../images/down.png) no-repeat center/0.12rem;
}


.link-icon {
    width: 0.18rem;
    height: 0.18rem;
    background: url(../images/link.png) no-repeat center/0.18rem;
}

.close-icon {
    width: 0.2rem;
    height: 0.2rem;
    background: url(../images/close.png) no-repeat center/0.2rem;
}

.add-icon-one {
    width: 0.8rem;
    height: 0.8rem;
    background: url(../images/add-one.png) no-repeat center/0.8rem;
}

.add-icon-two{
    width: 0.8rem;
    height: 0.8rem;
    background: url(../images/add-two.png) no-repeat center/0.8rem;
}

.ed-icon{
    width: 0.16rem;
    height: 0.16rem;
    background: url(../images/ed.png) no-repeat center/0.16rem;
}